*
{
    margin: 0;
    padding: 0;
    font-family: helvetica neue,Arial,sans-serif;
}
@font-face {
    font-family:helvetica neue,Arial,sans-serif;
    src: url("font/HelveticaNeueCyr-Bold.otf");

}

.page
{
    background-color:#f9f9f8 ;
    width:1215px;
    height:1064px;
    margin: 0 auto;
}
header
{
    height: 38px;
    background: #074b87;
    padding-right: 20px;

}
.nav
{
    float: right;
}
.nav li
{
    display: inline-block;
    padding: 10px;
}
.nav a
{
    text-decoration: none;
    color: #5cafe7;
}
.nav a:hover
{
    color: #fff;
}
.nav ul  li a:hover
{
    color: white;
    background-color: #4eabda;
}
.nav ul:last-child
{
    margin-right: 10px;
}
.nav ul li:hover
{
    color: white;
    background-color: #4eabda;
}
.rightborder
{
    padding-right: 10px;
    border-right: 2px solid #56a2dc;
}
.righte_nav
{
    float: right;
}
.righte_nav li
{
    display: inline-block;
    padding: 10px;
    color:#5cafe7 ;
}
.righte_nav a
{

    color: #5cafe7;
}
.righte_nav a:hover
{
    color: #fff;
}

.righte_nav ul:last-child
{
    margin-right: 10px;
}
.righte_nav ul li:hover
{
    color: white;
    background-color: #4eabda;
}
#flag
{
    background: #074b87 url("images/flag.png") no-repeat 0 0;
    padding: 0 10px 0 25px;
    color:white;
}
.kontent
{
    background-image: url("images/fon.png");
    width:1215px;
    height:1028px;
    margin: 0;
    position: relative;
}
.group
{
    width:560px;
    height:615px;
    border-radius: 4px;
    background: rgba(0,0,0,0.5);
    color: black;
    overflow: hidden;
    text-shadow: none;
    margin:auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.cadaster
{
    height:64px;
    text-align: center;
    padding-top: 21px;
    color: white;
    font-size: 24pt;
    border-bottom: 1px solid white;
}

.facebook
{
    text-align: center;
    margin-top: 30px;
}
.border
{
    color: #999999;
    text-align: center;
    margin-top: 31px;
    padding: 0 140px;
}
.left
{
    width: 125px;
    height: 2px;
    bottom: 4px;
    border-top: 1px solid #666666;
    border-bottom: 1px solid #000000;
    float: left;
    margin-top: 7px;

}
.righte
{
    width: 125px;
    height: 2px;
    bottom: 4px;
    border-top: 1px solid #666666;
    border-bottom: 1px solid #000000;
    float: right;
    margin-top: 7px;
}
.input
{
    width:280px;
    margin: 0 auto;
}
.fields
{
    width:280px;
    height:35px;
    margin-top: 18px;
    background-color:#0f0e0e;
    color: #a8a8a8;
    border: none;
    border-bottom: 2px solid #494947;
    padding-left: 15px;
}
.fields:hover
{
    color: white;
    background-color: #1b5288;
    border:2px solid #689bcc ;
}
.send_me
{
    color: white;
    margin: 0 auto;
    width:280px;
    padding-top: 23px;
}
.butt
{
    width:154px;
    height: 40px;
    background: linear-gradient(to top, #2e7ac4,#4faddb);
    border: none;
    color: white;
}
.button
{
    padding-top: 20px;
    text-align: center;
}
.formfoot
{

    text-align: center;
    color: white;
    font-size: 14px;
    padding-top: 5px;
}